name: Build using Docker

on:
  push:
    branches: [ "dev", "candidate" ]
  pull_request:
    branches: [ "dev", "candidate" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  builder:
    runs-on: [self-hosted, vanity]
    steps:
    - uses: actions/checkout@v3
      with:
        clean: false
    - name: Check for suspicious patterns
      run: /bin/bash suspicious_patterns.sh
    - name: Build using Docker
      run: /bin/bash release-builder.sh
    - name: Unit tests
      run: /bin/bash docker-unit-tests.sh

