name: Build using Docker

on:
  push:
    branches: [ "dev", "test", "release" ]
  pull_request:
    branches: [ "dev", "release" ]

jobs:
  builder:
    runs-on: [self-hosted, vanity]
    steps:
    - uses: actions/checkout@v3
      with:
        clean: false
    - name: Build using Docker
      run: /bin/bash release-builder.sh

  publisher:
    needs: builder
    runs-on: [self-hosted, vanity]
    steps:
    - uses: actions/upload-artifact@v3
      with:
        name: build-${{ github.run_number }}
        path: |
          release-build/xahaud
          release-build/release.info

  unittests:
    needs: builder
    runs-on: [self-hosted, vanity]
    steps:
    - name: Unit tests
      run: /bin/bash docker-unit-tests.sh
